AAAAAAAAAAA
{{define "cashflow"}}
{{template "header" .}}
<div class="container">
    <h1>Accounts</h1>
    <ul>
        {{range .Accounts}}
        <li>{{.Name}}</li>
        {{end}}
    </ul>
</div>
{{template "footer" .}}
{{end}}